



 @import url('https://fonts.cdnfonts.com/css/bauhaus-light-bt');

                
                                                    

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Bauhaus Light BT', sans-serif;
                                                

}

.container {
    padding: 0.5%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
  
}

.colonneLeft {
    background-color: #ABEBC6;
    padding: 10px;
}

h1{
   font-size: 3.5em;
}

i{
    font-size:xx-large;
}

pre{
    font-family: 'Bauhaus Light BT', sans-serif;
}

h3, h4 {
    font-size: 
    1.5em;
}

li, p {
    font-size: larger;
}
.colonneRight {
    position:right;
    padding: 5%;
}

@media screen and (min-width:935px){
   
}

