       
/* 
@font-face {
    font-family: "ITC";
        src: url('assets/Bauhaus Font Family/BauhausBold.ttf') format('ttf'),
             url('assets/Bauhaus Font Family/BauhausBoldItalic.ttf') format('ttf'),
             url('assets/Bauhaus Font Family/BauhausItalic.ttf') format('ttf'),
             url('assets/Bauhaus Font Family/BauhausRegular.ttf') format('ttf'),
             url('assets/Bauhaus Font Family/BAUHHL.ttf') format('ttf'),
             url('assets/Bauhaus Font Family/BROOKH2.ttf') format('ttf');
}
J'ai pas reussi à utiliser le font en assets pour l'intsant
*/

@import url(https://db.onlinewebfonts.com/c/d4077d5c049686eeb4968c540825029b?family=ITC+Bauhaus+Light+Cyrillic);

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    line-height: 26pt;
    font-family: 'Bauhaus Light BT', sans-serif;

}
section{
    display: flex;
}
#presentation1 {
    display: none;
}
.container {
    padding: 0.5%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
  
}

aside {
    background-color: #CEEBC4;
    padding: 10px;
}

h1{
   font-size: 3.5em;
}

i{
    font-size:xx-large;
}

pre{
    font-family: 'Bauhaus Light BT', sans-serif;
}

h3, h4 {
    font-size: 
    1.5em;
}

.listaPiccola{
    list-style: circle;
}

li, p {
    font-size: larger;
}
main {
    position:right;
    padding: 5%;
}


    @media screen and (max-width:703px){
        .container{
           display: inline-block;

        }

        & #presentation1{ 
            display: block;       
    }
        #presentation2 {
            display: none;
        }
       }

